apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ item.name }}-{{ guid }}
  namespace: openshift-machine-api
  labels:
    machine.openshift.io/cluster-api-cluster: {{ _ocp4_workload_tenant_machineset_infrastructure_name }}
    tenant: {{ ocp4_workload_tenant_machineset_username }}
spec:
  replicas: {{ item.replicas }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ _ocp4_workload_tenant_machineset_infrastructure_name }}
      machine.openshift.io/cluster-api-machineset: {{ item.name }}-{{ guid }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ _ocp4_workload_tenant_machineset_infrastructure_name }}
        machine.openshift.io/cluster-api-machine-role: {{ item.role }}
        machine.openshift.io/cluster-api-machine-type: {{ item.role }}
        machine.openshift.io/cluster-api-machineset: {{ item.name }}-{{ guid }}
        tenant: {{ ocp4_workload_tenant_machineset_username }}
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/{{ item.role }}: ""
          tenant: {{ ocp4_workload_tenant_machineset_username }}
{% if item.taints | default([]) | length > 0 %}
      taints:
{% for taint in item.taints %}
        - key: {{ taint.key }}
{% if taint.value is defined %}
          value: "{{ taint.value }}"
{% endif %}
          effect: {{ taint.effect }}
{% endfor %}
{% endif %}
      providerSpec:
        value:
          apiVersion: machine.openshift.io/v1beta1
          kind: AWSMachineProviderConfig
          ami:
            id: {{ _ocp4_workload_tenant_machineset_template.spec.template.spec.providerSpec.value.ami.id }}
          blockDevices:
            - ebs:
                volumeSize: {{ item.root_volume_size | default(120) }}
                volumeType: {{ item.root_volume_type | default('gp3') }}
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ _ocp4_workload_tenant_machineset_infrastructure_name }}-worker-profile
          instanceType: {{ item.instance_type }}
          kind: AWSMachineProviderConfig
          metadata:
            creationTimestamp: null
          placement:
            availabilityZone: {{ _ocp4_workload_tenant_machineset_template.spec.template.spec.providerSpec.value.placement.availabilityZone }}
            region: {{ _ocp4_workload_tenant_machineset_region }}
          securityGroups:
            - filters:
                - name: tag:Name
                  values:
                    - {{ _ocp4_workload_tenant_machineset_infrastructure_name }}-worker-sg
          subnet:
            filters:
              - name: tag:Name
                values:
                  - {{ _ocp4_workload_tenant_machineset_infrastructure_name }}-private-{{ _ocp4_workload_tenant_machineset_region }}{{ _ocp4_workload_tenant_machineset_template.spec.template.spec.providerSpec.value.placement.availabilityZone[-1:] }}
          tags:
            - name: kubernetes.io/cluster/{{ _ocp4_workload_tenant_machineset_infrastructure_name }}
              value: owned
            - name: tenant
              value: {{ ocp4_workload_tenant_machineset_username }}
          userDataSecret:
            name: worker-user-data
